@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Medium.eot');
	src: url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff'), url('../fonts/Inter-Medium.ttf') format('truetype'), url('../fonts/Inter-Medium.svg#Inter-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.eot');
    src: url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff'),
        url('../fonts/Inter-SemiBold.ttf') format('truetype'),
        url('../fonts/Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-SemiBold.eot');
    src: url('../fonts/LibreFranklin-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreFranklin-SemiBold.woff2') format('woff2'),
        url('../fonts/LibreFranklin-SemiBold.woff') format('woff'),
        url('../fonts/LibreFranklin-SemiBold.ttf') format('truetype'),
        url('../fonts/LibreFranklin-SemiBold.svg#LibreFranklin-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Medium.eot');
    src: url('../fonts/LibreFranklin-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreFranklin-Medium.woff2') format('woff2'),
        url('../fonts/LibreFranklin-Medium.woff') format('woff'),
        url('../fonts/LibreFranklin-Medium.ttf') format('truetype'),
        url('../fonts/LibreFranklin-Medium.svg#LibreFranklin-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Bold.eot');
    src: url('../fonts/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
        url('../fonts/LibreFranklin-Bold.woff') format('woff'),
        url('../fonts/LibreFranklin-Bold.ttf') format('truetype'),
        url('../fonts/LibreFranklin-Bold.svg#LibreFranklin-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




body {
	font-family: "Libre Franklin";
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Libre Franklin";
	font-weight: bold;
}

.logo-header a {
	text-align: center;	
}

.logo-header a img {
	height: 38px;
}

.ff-master-options a, .ff-master-options a:hover, .ff-master-options a:focus, .ff-master-options a:active {
	text-decoration: none
}

.ff-master-options a span.h3 {
	color: #033053;
}

.ff-title-block {
	margin-bottom: 20px;
}

h1.ff-page-title {
	display: inline-block;
	color: #1a1a1a;
	font-size: 32px;
	font-weight: 600;
	letter-spacing: -0.3px;
	line-height: 39px;
}

.ff-page-title-btn {
	float: right
}

label {
	color: #131313 !important;
}

input[type="text"], input[type="email"], textarea {
	background-color: #F8F8F9 !important;
	border: 1px solid #D4D6DF !important;
}

.btn-cancel, .btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active {
	color: #033053 !important;
	background-color: #EBEEF0 !important;
}

/* .nav-toggle .btn-toggle, .main-header .navbar-header[data-background-color] .nav-search .input-group .form-control, .main-header .navbar-header[data-background-color] .nav-search .input-group .search-icon, .main-header .navbar-header[data-background-color] .navbar-nav .nav-item .nav-link {
	color: #033053 !important
} */

.btn-primary {
	border: 0px none;
}

.page-item.active .page-link {
	background: #033053;
	border: 0px none;
}

/* .sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a, .btn-primary, .btn-primary:hover, .btn-primary:focus {
	background: #033053 !important;
	color: #fff !important
} */

.btn-primary.btn-edit, .btn-primary.btn-edit:hover {
	background: transparent !important;
}
.btn-primary.btn-edit, .btn-primary.btn-edit:hover  i{
	color:#001A3B
}

/* .form-button-action .btn-danger i{
	position: relative;
	top:5px;
} */

table .form-button-action a, table .form-button-action a.btn-link.btn-primary {
	padding: 10px !important;
	color: #033053 !important
}

.select2-container {
	width: 100% !important;
	font-size: 14px;
}

.select2-container--default .select2-selection--multiple {
	min-height: 42px;
	padding: 5px;
	background-color: #F8F8F9;
	border: 1px solid #D4D6DF !important;
}

.ff-popup {
	background: #F4F4F4
}

.ff-popup-title {
	margin: 0 0 20px 0;
}

/*custom radio button*/

.switch-field {
	display: flex;
	margin-bottom: 0;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
	border:1px solid #DCDCE4;
	/* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked+label {
	background-color: #0F56B2;
	box-shadow: none;
	color: #fff !important;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.blog-list-thumb {
	width: 50px;
}

.nav-pills.nav-secondary .nav-link.active {
	background-color: #033053 !important;
	border: 1px solid#033053 !important;
}

.project-card a, .project-card a:hover, .project-card a:focus, .project-card a:active, .project-card p {
	color: #033053 !important;
	text-decoration: none;
}

/*custom radio button*/

.ff-userenquiry-status {
	margin-bottom: 20px;
}

.user-enquiry-info p.text-muted {
	margin: 0;
}

.user-enquiry-status {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #F0F0F5;
	border-radius: 10px;
}

.delete-team-member, delete-team-member:hover, .delete-team-member:active, .delete-team-member:focus {
	margin-top: 27px;
	display: inline-block;
	color: #033053 !important
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fff
}

.table-hover tbody tr:hover, .table-striped tbody tr:hover:nth-of-type(odd) {
	background-color: #FBEED4
}
a.remove-video-location, a.remove-video-theme{
	margin-top:50px;
}.divider-item{	margin-top:75px;}
.sidebar .nav > .nav-item a p{
	font-family: "Libre Franklin";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}
.sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a{ 
	background: #164E96 !important;
}
.sidebar.sidebar-style-2 .nav .nav-item a{
	padding:15px 25px !important;
}
.del-celerity,.del-celerity:hover,.del-celerity:active,.del-celerity:focus{
	width:35px;
	height:35px;
	background:#F25961 url('../../assets/images/trash.svg') no-repeat center center !important;
	padding:7px 10px;
}
.celerity-banner-img{
	display:flex;
	align-items:flex-end;
	margin:0 0 10px 0;
}
.celerity-banner-img a.del-celerity{
	margin:0 0 0 10px
}
.sidebar .nav > .nav-item a img{
	margin-right:15px;	
}
.sidebar .nav-collapse{
	padding:0;
}
@media(max-width:991px) {
	.logo-header[data-background-color] .navbar-toggler .navbar-toggler-icon, .logo-header .more i {
		color: #001A3B !important
	}
}

@media(max-width:767px) {
	.divider-item{	margin-top:0;}
	.btn {
		padding: .65rem 1.0rem;
	}
	h1.ff-page-title {
		display: block;
		margin: 0 0 5px 0;
	}
	.breadcrumbs {
		display: none;
	}
	.ff-page-title-btn {
		margin: 10px 0 !important;
	}
	.ff-page-title-btn {
		float: none;
	}
	.ff-userenquiry-status .col-sm-3 {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
}