@font-face {
	font-family: 'Libre Franklin';
	src: url('../fonts/LibreFranklin-Regular.eot');
	src: url('../fonts/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-Regular.woff2') format('woff2'), url('../fonts/LibreFranklin-Regular.woff') format('woff'), url('../fonts/LibreFranklin-Regular.ttf') format('truetype'), url('../fonts/LibreFranklin-Regular.svg#LibreFranklin-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Libre Franklin';
	src: url('../fonts/LibreFranklin-Medium.eot');
	src: url('../fonts/LibreFranklin-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-Medium.woff2') format('woff2'), url('../fonts/LibreFranklin-Medium.woff') format('woff'), url('../fonts/LibreFranklin-Medium.ttf') format('truetype'), url('../fonts/LibreFranklin-Medium.svg#LibreFranklin-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Libre Franklin';
	src: url('../fonts/LibreFranklin-SemiBold.eot');
	src: url('../fonts/LibreFranklin-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-SemiBold.woff2') format('woff2'), url('../fonts/LibreFranklin-SemiBold.woff') format('woff'), url('../fonts/LibreFranklin-SemiBold.ttf') format('truetype'), url('../fonts/LibreFranklin-SemiBold.svg#LibreFranklin-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Libre Franklin';
	src: url('../fonts/LibreFranklin-Bold.eot');
	src: url('../fonts/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-Bold.woff2') format('woff2'), url('../fonts/LibreFranklin-Bold.woff') format('woff'), url('../fonts/LibreFranklin-Bold.ttf') format('truetype'), url('../fonts/LibreFranklin-Bold.svg#LibreFranklin-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Reforma1918';
	src: url('../fonts/Reforma1918-GrisItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
	url('../fonts/Reforma1918-GrisItalica.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Reforma1918-GrisItalica.eot') format('woff'), url('../fonts/Reforma1918-GrisItalica.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-style: italic;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	position: relative;
	font-family: 'Libre Franklin';
	font-weight: normal;
	font-size: 16px;
	background: #fafaff;
	color: #1A1A1A;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Libre Franklin';
	font-weight: bold;
}

a:hover, input:hover {
	text-decoration: none;
	transition: all 0.2s linear;
}

a, a:hover, a:focus, a:active, input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active, textarea:focus, textarea:active {
	outline: 0;
	border: 0px none;
	box-shadow: none !important
}

.m-auto {
	margin: 0 auto;
}

/*Margins*/

.mt-5 {
	margin-top: 5px !important
}

.mb-5 {
	margin-bottom: 5px !important
}

.mt-10 {
	margin-top: 10px !important
}

.mb-10 {
	margin-bottom: 10px !important
}

.mt-15 {
	margin-top: 15px !important
}

.mb-15 {
	margin-bottom: 15px !important
}

.mt-20 {
	margin-top: 20px !important
}

.mb-20 {
	margin-bottom: 20px !important
}

.mt-25 {
	margin-top: 25px !important
}

.mb-25 {
	margin-bottom: 25px !important
}

.mt-30 {
	margin-top: 30px !important
}

.mb-30 {
	margin-bottom: 30px !important
}

.mt-35 {
	margin-top: 35px !important
}

.mb-35 {
	margin-bottom: 3520px !important
}

.mt-40 {
	margin-top: 40px !important
}

.mb-40 {
	margin-bottom: 40px !important
}

.mt-45 {
	margin-top: 45px !important
}

.mb-45 {
	margin-bottom: 45px !important
}

.mt-50 {
	margin-top: 50px !important
}

.mb-50 {
	margin-bottom: 50px !important
}

.mt-55 {
	margin-top: 55px !important
}

.mb-55 {
	margin-bottom: 55px !important
}

.mt-60 {
	margin-top: 60px !important
}

.mb-60 {
	margin-bottom: 60px !important
}

/*Margins*/

/*Paddings*/

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-5 {
	padding-top: 5px !important
}

.pb-5 {
	padding-bottom: 5px !important
}

.pt-10 {
	padding-top: 10px !important
}

.pb-10 {
	padding-bottom: 10px !important
}

.pt-15 {
	padding-top: 15px !important
}

.pb-15 {
	padding-bottom: 15px !important
}

.pt-20 {
	padding-top: 20px !important
}

.pb-20 {
	padding-bottom: 20px !important
}

.pt-25 {
	padding-top: 25px !important
}

.pb-25 {
	padding-bottom: 25px !important
}

.pt-30 {
	padding-top: 30px !important
}

.pb-30 {
	padding-bottom: 30px !important
}

.pt-35 {
	padding-top: 35px !important
}

.pb-35 {
	padding-bottom: 35px !important
}

.pt-40 {
	padding-top: 40px !important
}

.pb-40 {
	padding-bottom: 40px !important
}

.pt-45 {
	padding-top: 45px !important
}

.pb-45 {
	padding-bottom: 45px !important
}

.pt-50 {
	padding-top: 50px !important
}

.pb-50 {
	padding-bottom: 50px !important
}

.pt-55 {
	padding-top: 55px !important
}

.pb-55 {
	padding-bottom: 55px !important
}

.pt-60 {
	padding-top: 60px !important
}

.pb-60 {
	padding-bottom: 60px !important
}

/*Paddings*/

/*Buttons*/

.btn-celerity {
	display: inline-block;
	border: 0px;
	outline: 0;
}

.btn-small, .btn-small:hover, .btn-small:active, .btn-small:focus {
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 14px;
/* 	border: 1px solid #CECEDF; */
	border-radius: 3px;
}

.btn-large, .btn-large:hover, .btn-large:active, .btn-large:focus {
	padding: 15px 25px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.43px;
	line-height: 12px;
	border-radius: 3px;
}

.btn-black {
	color: #fff;
	background: #393939;
}
.btn-black:hover, .btn-black:active, .btn-black:focus{
	color: #fff;
	background:#242323;
}
.btn-blue,.btn-login-mobile {
	color: #fff;
	background: #0F56B2;
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus,.btn-login-mobile:hover, .btn-login-mobile:active, .btn-login-mobile:focus{
	color: #fff;
	background: #073C81;
}
.btn-red{
	color: #fff;
	background: #E84C41;
	border:1px solid #E84C41;
}
.btn-red:hover, .btn-red:active, .btn-red:focus {
	color: #fff;
	background: #D43E33;
	border:1px solid #D43E33;
}
.btn-blue-inv{
	color: #0F56B2;
	background: transparent;	
}
.btn-blue-inv:hover,.btn-blue-inv:focus,.btn-blue-inv:active{
	color: #fff;
	background:#073C81
}

/*Buttons*/

.celerity-header {
	/* position:fixed; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid #CECEDF;
	width: 100%;
	/* position: fixed;
	width: 100%;
	left: 0;
	top: 0; */
	background: #fafaff;
	z-index: 10;
}
.celerity-header-fixed{
	position: fixed;
	animation: searchmove 0.5s ease-in-out;
}
.quicknav-header-wrapper{
	display:none;
}
.quicknav-header-wrapper-fixed{
	display:block;	
} 
/* .quicknav-header{
	animation: searchmove 0.5s ease-in-out;
} */
@keyframes searchmove {
	from {
		top: -50px;
	}
	to {
		top: 0px;
	}
}

.search-menu-wrapper {
	display: flex;
}
.search-menu-wrapper,.celerity-logo,.login-links{
	width:33.33%;
}
.celerity-logo{
	text-align:center;
}
.login-links{
	position:relative;
	text-align:right;
}

#menu-toggle-link, #menu-toggle-link:hover, #menu-toggle-link:focus, #menu-toggle-link:active {
	display: flex;
	align-items: center;
	margin-right: 25px;
	color: #292929;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 19px;
}

#menu-toggle-link img {
	margin-right: 10px;
}

.nav-search,.nav-search:hover {
	width: 343px;
	padding: 10px 15px 10px 40px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 21px;
	background: #E6E6ED url('../images/nav-search-icon.svg') no-repeat 10px 8px;
	border:1px solid transparent;
	border-radius: 7px;
}
.nav-search:focus,.nav-search:active {
	width: 343px;
	padding: 10px 15px 10px 40px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 21px;
	background: #fff url('../images/nav-search-icon-focus.svg') no-repeat 10px 8px;
	border:1px solid #B9B9C6;
	border-radius: 7px;
}

.nav-search::placeholder {
	color: #8A94A2;
}

.login-links a {
	margin-right: 15px;
}

.login-links a:last-child {
	margin-right: 0;
}

.account-mobile, #search-link-mobile {
	display: none;
}

/*Slidein Menu*/

.menu-block-wrapper {
	position: absolute;
	width: 100%;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}

.slide-in {
	animation: slide-in 0.3s forwards;
	-webkit-animation: slide-in 0.3s forwards;
}

.slide-out {
	animation: slide-out 0.3s forwards;
	-webkit-animation: slide-out 0.3s forwards;
}

@keyframes slide-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slide-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@-webkit-keyframes slide-out {
	0% {
		-webkit-transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

/* #celerity-page.hide{
	overflow:hidden
}
#celerity-page.show{
	overflow:auto
} */

/*Slidein Menu*/

#slider {
	position: fixed;
	top: 87px;
	left: 0;
	z-index: 2;
}

.menu-block {
	display: block;
	/* position: absolute; */
}

#menu-overlay {
	display: none;
	position: fixed;
	top: 87px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	z-index: 0;
}

#menu-overlay.show {
	display: block;
	animation: slide-in 1s forwards;
	-webkit-animation: slide-in 1s forwards;
}

#menu-overlay.hide {
	display: block;
	animation: slide-out 0.5s forwards;
	-webkit-animation: slide-out 0.5s forwards;
}

.main-menu-block {
	background: #1A1B1C;
	padding: 35px 0;
	width: 295px;
	height: calc(100vh - 87px);
}

ul.main-categories-list, ul.sub-categories-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.sub-categories-list{
	height:72vh;
}

.mCSB_inside>.mCSB_container {
	margin-right: 10px;
}

/* ul.main-categories-list li{
	position: relative;
} */

a.main-category-item {
	display: block;
	padding: 20px 20px 20px 45px;
	background: #1A1B1C;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 21px;
}

a.main-category-item img {
	float: right;
	width: 10px;
	margin-top: 5px;
}

a.main-category-item:hover, a.main-category-item:active, a.main-category-item:focus {
	background: #424548;
}

.dot {
	position: relative;
	top: -2px;
	left: -12px;
	height: 8px;
	width: 8px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.dot.categories {
	background: #81D8EB
}

.dot.magazine {
	background: #8C70D1
}

.dot.news {
	background: #FF7F63
}

.dot.awards {
	background: #FFDE67
}

.dot.about {
	background: #81D064
}

.sub-menu-block {
	/* position:absolute;
	top:0;
	left:295px; */
	width: 300px;
	height: calc(100vh - 87px);
	background: #CCD1DA;
	padding: 35px 0 0 0;
}

.submenu h3 {
	padding: 0 20px;
	margin: 10px 0 20px 0;
}

a.sub-category-item {
	display: block;
	padding: 20px;
	background: #CCD1DA;
	color: #1A1A1A;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 21px;
}

a.sub-category-item:hover, a.sub-category-item:active, a.sub-category-item:focus {
	background: #A2A7AF
}

.flyout-list {
	display: none;
	position: absolute;
	top: 0;
	left: 295px;
	list-style-type: none;
	padding: 0;
}

/* ul.main-categories-list li.main-category-dropdown:hover ul.flyout{
	display:block;
} */

.back-mobile {
	display: none;
}

.categories-scroll-top {
	width: 1170px;
	padding: 25px 0;
	margin: 0 auto;
}

.categories-scroll-top a, .categories-scroll-top a:hover, .categories-scroll-top a:active, .categories-scroll-top a:focus {
	display: inline-block;
	margin-right: 18px;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 17px;
	text-transform: uppercase;
}

.categories-scroll-top a:last-child {
	text-decoration: underline;
	text-transform: capitalize
}

.main-article-home-banner {
	margin: 0;
	width: 668px;
	height: 311px;
	object-fit: cover;
}

.article-preview {
	margin-top: 25px;
}

.category-tag {
	margin: 0 0 5px 0;
	color: #008073;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.43px;
	line-height: 15px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-title-large {
	margin: 0 0 10px 0;
	color: #1A1A1A;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 32px;
}

.article-preview-text {
	margin: 0 0 10px 0;
	opacity: 0.64;
	color: #1A1A1A;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.article-author-info p {
	margin: 0 0 8px 0;
	color: #8F8F91;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 12px;
}

.article-author-info p span.author-name {
	color: #121212;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 12px;
}

.article-author-info span {
	display: inline-block;
}

.article-date, .reading-time {
	position: relative;
	opacity: 0.7;
	color: #626262;
}

.reading-time {
	left: 10px;
}

.article-date:after {
	content: '';
	position: absolute;
	top: 3px;
	width: 4px;
	height: 4px;
	background: #626262;
	border-radius: 10px;
	right: -8px;
}

.nlh-single .article-date:after {
	content: '';
	width: 0;
	height: 0;
}

.article-date.no-dot .section-title-small {
	margin: 0 0 25px 0;
	color: #000;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 28px;
}

.section-title-medium {
	margin: 0 0 25px 0;
	color: #000;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 32px;
}

.section-title-large {
	color: #292929;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 36px;
}
.page-title-large {	
	color: #1A1A1A; 
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -1.14px;
  line-height: 58px;
}

.home-spotlight-single-img {
	margin: 0 15px 0 0;
	width: 125px;
	height: 110px;
	object-fit: cover;
}

.article-block-content h4 {
	margin: 0 0 20px 0;
	color: #1A1A1A;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 22px;
}

.home-spotlight-single {
	width: 100%;
	float: left;
	margin: 15px 0 0 0;
}

.home-spotlight-single:first-child {
	margin: 0
}

.home-spotlight-single .hss-image {
	width: 125px;
	margin-right: 15px;
	float: left;
}

.home-spotlight-single .article-block-content {
	width: 70%;
	float: left;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8
}

.home-spotlight-single:last-child .article-block-content {
	border-bottom: 0px none
}

.home-banner-top, .home-banner-bottom {
	display: flex;
	align-items: center;
	justify-content: center
}

.hps-single img {
	margin: 0 0 15px 0;
}

.hps-single {
	margin: 0 0 45px 0;
}

.hps-single.hps-sidebar {
	margin: 15px 0 0 0;
	padding: 0 0 7px 0;
	border-bottom: 1px solid #E1E1E1
}

.hps-single.hps-sidebar:last-of-type {
	border-bottom: 0px none;
}

.hps-single.hps-sidebar .hps-content h4 {
	margin: 0 0 8px 0;
}

.hps-content h4 {
	padding: 0 25px 0 0;
	margin: 0 0 20px 0;
	color: #1A1A1A;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 20px;
}

a.view-more-small {
	padding: 0 15px 0 0;
	display: inline-block;
	color: #1A1A1A;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.43px;
	line-height: 15px;
	text-transform: uppercase;
	background: transparent url(../images/viewmore-arrow.svg) no-repeat right 2px;
}
a.view-more-small:hover, a.view-more-small:active, a.view-more-small:focus{
	color:#00807D;
	background: transparent url(../images/viewmore-arrow-green.svg) no-repeat right 2px;
}

.home-perspective-list {
	margin: 0 0 40px 0;
}

.section-separator {
	height: 1px;
	background: #B9B9C6;
}

.home-magazine-section h2.section-title-medium {
	color: #1a1a1a;
}

.section-title-link {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.home-magazine-single img {
	margin: 0 0 25px 0;
}

.home-magazine-single h4 {
	margin: 0;
	color: #1A1A1A;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 22px;
}

.nlh-single {
	width: 100%;
	float: left;
	margin: 25px 0 0 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #B9B9C6
}

.nlh-single .article-block-content {
	width: 70%;
	padding: 0 30px 0 0;
	float: left;
}

.nlh-img {
	float: left;
	width: 230px;
	height: 135px;
	object-fit: cover;
}

.nlh-single:last-of-type {
	border-bottom: 0px none;
}

.nlh-single .article-block-content h4 {
	color: #1A1A1A;
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 28px;
}

.events-list-home {
	margin-top: 25px;
}

.event-single {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.event-content {
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	border-bottom: 1px solid #979797;
}

.event-content:last-of-type {
	border-bottom: 0px none;
}

.event-date {
	margin-right: 35px;
	color: #00807D;
	font-size: 42px;
	letter-spacing: -1.17px;
	line-height: 38px;
}
.events-detail-day .event-date{
	font-size: 68px;
  letter-spacing: -1.89px;
  line-height: 68px;
}
.events-detail-day .event-month{
	padding-left:8px;
	font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 21px;
}
.event-month {
	color: #1A1A1A;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.39px;
	line-height: 14px;
}

.events-list-home .event-content .article-block-content h4 {
	margin: 0;
	color: #1A1A1A;
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 28px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.events-banner-img {
	margin-top: 110px;
	width: 240px;
	height: 400px;
	object-fit: cover;
}

footer {
	padding: 35px 0 20px 0;
	border-top: 1px solid #C5C5C5
}

.footer-section {
	margin: 0 0 60px 0;
}

.footer-address {
	padding: 25px 0 0 0;
}

.footer-address p {
	margin: 0 0 5px 0;
	color: #292929;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 23px;
}

.footer-title {
	margin: 0 0 25px 0;
	color: #292929;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 17px;
	text-transform: uppercase;
}

.contact-detail a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 0 15px 0;
}

.contact-detail a img {
	margin-right: 10px;
	width: 18px;
}

.contact-detail a span {
	color: #292929;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 19px;
}

.contact-detail.phone a span {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 17px;
}

.newsletter {
	padding: 0 0 0 30px;
	border-left: 1px solid #4C4949;
}

.newsletter p {
	margin: 0 0 15px 0;
	color: #292929;
	font-size: 14px;
}

.newsletter-email {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 12px;
	background: #E6E6ED;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 17px;
}

.footer-links {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.footer-links a, .footer-links a:hover, .footer-links a:active, .footer-links a:focus {
	color: #292929;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 21px;
}

.copyright-wrapper {
	padding: 20px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copyright-text span, .copyright-text a, .copyright-text a:hover, .copyright-text a:active, .copyright-text a:focus {
	position: relative;
	color: #666;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 23px;
}

.copyright-text a {
	left: 15px;
}

.copyright-text a.privacy {
	left: 30px;
}

.copyright-text span:after, .disclaimer:after {
	content: '';
	position: absolute;
	top: 7px;
	width: 5px;
	height: 5px;
	background: #626262;
	border-radius: 10px;
	right: -10px;
}

.social-footer a {
	margin: 0 0 0 10px
}

.viewmore-mobile, .home-news-mobile, .menu-header-mobile {
	display: none !important;
}
.quicknav-header {
	position: fixed;
	top:0;	
	width:100%;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#fafafa;
	border-bottom: 1px solid #E4E4E4;
	z-index:10;
}
.quicknav-header-clear{
	margin-top:73px;
}
/* .quicknav-header::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 350px;
	height: 4px;
	background: #00807D;
	border-radius: 4px;
} */
span.prognroll-bar{
	display:none;
 top:69px !important;
 height: 4px !important;
	background: #00807D !important;
	border-radius: 0 4px 4px 0 !important;
}
.quicknav-article-title {
	margin: 0;
	color: #1D1D1D;
	font-size: 21px;
	font-weight: 600;
	letter-spacing: -0.5px;
	line-height: 25px;
	max-width: 700px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.quicknav-article-title img {
	margin-right: 10px;
}

.quicknav-share a {
	display: inline-block;
	margin-left: 10px;
}

.article-detail-title {
	padding: 60px 0 15px 0;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #DBDBDB
}

.article-detail-title h1 {
	margin: 0 0 15px 0;
	color: #1A1A1A;
	font-size: 42px;
	font-weight: 600;
	letter-spacing: -1px;
	line-height: 48px;
}

.article-detail-share a,a.event-share,.quicknav-share a{
	display: inline-block;
	margin: 0 8px 0 0;
	background:#E6E6ED;
	border-radius: 35px;
}

.article-detail-share a:hover,a.event-share:hover,.quicknav-share a:hover{
	background:#fff;
}

.article-detail-banner {
	width: 570px;
	height: 415px;
	object-fit: cover;
}

.article-detail-banner-full {
	margin: 60px 0;
}
.category-listing-banner-full.article-detail-banner-full{
	margin:15px 0 60px 0;
}

.spotlight {
	margin: 0;
	padding-left: 15px;
	list-style-type: decimal;
}

.spotlight li, .spotlight li a, .spotlight li a:hover, .spotlight li a:focus, .spotlight li a:active {
	color: #1A1A1A;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 20px;
}

.spotlight li {
	position: relative;
}

.spotlight li:before {
	content: '';
	position: absolute;
	top: 0;
	left: -17px;
	width: 105%;
	height: 1px;
	background: #DBDBDB;
}

.spotlight li a {
	display: block;
	margin: 0;
	padding: 10px 0 10px 10px;
}

.article-detail-add-1 {
	margin: 80px 0 0 0;
}

.article-detail-introduction {
	padding: 0 0 40px 0;
	margin: 0 0 40px 0;
	border-bottom: 1px solid #DBDBDB
}

.article-detail-introduction, .article-detail-introduction p {
	color: #1A1A1A;
	font-family: 'Reforma1918';
	font-size: 21px;
	font-style: italic;
	letter-spacing: -0.5px;
	line-height: 34px;
}

.article-detail-content p {
	margin: 0 0 30px 0;
	color: #1A1A1A;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 32px;
}

.article-detail-img-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start
}

.image-section img {
	margin: 0 30px 0 0;
	width: 275px;
	height: 340px;
	object-fit: cover;
}

.img-caption {
	margin: 15px 0;
	color: #1D1D1D;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 17px;
}

.img-caption span {
	font-weight: 600;
}

.article-detail-testimonial {
	margin: 60px 0;
	padding: 0 0 0 98px;
}

.article-inline-img {
	margin-bottom: 50px;
}

.article-detail-testimonial, .article-detail-testimonial p {
	color: #00807D;
	font-family: 'Reforma1918';
	font-size: 28px;
	font-style: italic;
	letter-spacing: -1px;
	line-height: 38px;
}

p.article-detail-testiomonial-name {
	color: #1D1D1D;
	font-family: "Libre Franklin";
	font-style: normal;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 21px;
}

p.article-detail-testiomonial-name span {
	font-weight: 600;
}

.article-detail-content h3 {
	margin: 0 0 30px 0;
	color: #1A1A1A;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 34px;
}

.article-detail-content h2 {
	margin: 0 0 30px 0;
	color: #1A1A1A;
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 38px;
}

.article-detail-content ul {
	margin: 0;
	padding: 0 0 0 15px;
}

.article-detail-content ul li {
	margin: 0 0 12px 0;
	color: #1A1A1A;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 32px;
}

.article-detail-tags {
	margin: 30px 0
}

.article-detail-tags {
	margin: 30px 0;
}

.article-tags a {
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px 15px;
	opacity: 0.8;
	color: #1A1A1A;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 19px;
	background: #E6E6ED;
	border-radius: 2px;
}

.article-detail-share-bottom {
	margin: 0 0 10px 0;
	text-align: right
}

.article-detail-newsletter-seperator {
	height: 1px;
	background: #B9B9C6
}

.article-detail-newsletter {
	padding: 30px 0 15px 0;
}

.article-detail-newsletter h4 {
	margin: 0 0 20px 0;
	color: #00807D;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 24px;
}

.newsletter-form {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.newsletter-form p {
	margin: 0 40px 0 0;
}

.newsletter-email, .newsletter-email:hover, .newsletter-email:active, .newsletter-email:focus {
	width: 250px;
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
	opacity: 0.64;
	color: #1D1D1D;
	font-family: "Libre Franklin";
	font-size: 16px;
	letter-spacing: 0;
	line-height: 19px;
	background: transparent;
	border-bottom: 1px solid #000;
	border-radius: 0px
}

.newsletter-submit, newsletter-submit:hover, newsletter-submit:active, newsletter-submit:focus {
	background: transparent;
	color: #1A1A1A;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 24px;
}

.related-article-section-title {
	margin-bottom: 30px;
}

.comments-input {
	margin: 0 0 35px 0;
}

.comments-input, .comment-single {
	width: 100%;
	float: left;
}

.comments-input img, .comment-single .comment-avatar {
	width: 45px;
	height: 45px;
	object-fit: cover;
	float: left;
	margin: 0 15px 0 0;
}

.comments-input textarea {
	width: 90%;
	height: 145px;
	padding: 20px;
	border: 1px solid #EFEFFF;
}

.comments-input input[type="submit"] {
	float: right;
	margin: 15px 0 0 0;
}

.comment-single {
	margin: 0 0 35px 0;
}

.comment-single-content {
	width: 90%;
	float: left;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #D7D7D7
}

.comment-single:last-of-type {
	margin: 0;
}

.comment-single:last-of-type .comment-single-content {
	border-bottom: 0px none;
}

.comment-single .comment-name {
	margin: 0 0 5px 0;
	color: #1A1A1A;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.43px;
	line-height: 21px;
}

.comment-single .comment-date {
	margin: 0 0 15px 0;
	color: rgba(26, 26, 26, 0.64);
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.29px;
	line-height: 15px;
}

.comment-single .comment-content {
	margin: 0 0 10px 0;
}

.comment-single .comment-like a, .comment-single .comment-reply a {
	display: inline-block;
	margin: 0 15px 0 0;
	color: #6C6C6C;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 16px;
	transition:all 0.2s linear;
}

.comment-single .comment-like a img {
	position: relative;
	top: -2px;
	left: -1px;
	filter: grayscale(1);
	transition:all 0.2s linear;
}
.comment-single .comment-like a:hover{
	color:#00807D;
	text-decoration:underline;
}
.comment-single .comment-like a:hover img{
	filter: grayscale(0);
}

/*Nice select*/

.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 5px;
	border: solid 1px #e8e8e8;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 42px;
	line-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
}

.nice-select:hover {
	border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
	border-color: #999;
}

.nice-select:after {
	border-bottom: 1px solid #161616;
	border-right: 1px solid #161616;
	content: '';
	display: block;
	height: 7px;
	margin-top: -6px;
	pointer-events: none;
	position: absolute;
	right: 12px;
	top: 50%;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	/* -webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out; */
	width: 7px;
}

.nice-select.open:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.nice-select.open .list {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
}

.nice-select.disabled {
	border-color: #ededed;
	color: #999;
	pointer-events: none;
	opacity: 0.5
}

.nice-select.disabled:after {
	border-color: #cccccc;
}

.nice-select.wide {
	width: 100%;
}

.nice-select.wide .list {
	left: 0 !important;
	right: 0 !important;
}

.nice-select.right {
	float: right;
}

.nice-select.right .list {
	left: auto;
	right: 0;
}

.nice-select.small {
	font-size: 12px;
	height: 36px;
	line-height: 34px;
}

.nice-select.small:after {
	height: 4px;
	width: 4px;
}

.nice-select.small .option {
	line-height: 34px;
	min-height: 34px;
}

.nice-select .list {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
	box-sizing: border-box;
	margin-top: 4px;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.75) translateY(-21px);
	-ms-transform: scale(0.75) translateY(-21px);
	transform: scale(0.75) translateY(-21px);
	-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.nice-select .option {
	cursor: pointer;
	font-weight: 400;
	line-height: 40px;
	list-style: none;
	min-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 29px;
	text-align: left;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
	background-color: #f6f6f6;
}

.nice-select .option.selected {
	font-weight: bold;
}

.nice-select .option.disabled {
	background-color: transparent;
	color: #999;
	cursor: default;
}

.no-csspointerevents .nice-select .list {
	display: none;
}

.no-csspointerevents .nice-select.open .list {
	display: block;
}

/*Nice select*/

.category-select.niceselect {
	/* 	width:100%; */
	padding: 0 30px 0 0;
	background: transparent;
	border: 0px none;
	border-radius: 0;
}

.category-select.niceselect span.current {
	color: #1A1A1A;
	font-size: 48px;
	font-weight: 600;
	letter-spacing: -1.14px;
	line-height: 58px;
}

.category-select.niceselect::after {
	border-bottom: 3px solid #161616;
	border-right: 3px solid #161616;
	height: 15px;
	width: 15px;
	margin-top: -1px;
	right: 0;
}

.category-select.nice-select .list {
	min-width:240px;
	width: 100%;
	height:225px;
	margin-top: 20px;
	background: #1A1B1C;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.07);
}
.category-select.nice-select .list .mCSB_scrollTools{
	right:-5px;
}
.category-select.nice-select .list  .mCSB_inside>.mCSB_container{
	margin-right:0;
}

.category-select.nice-select .option {
	padding: 2px 25px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.category-select.nice-select .option:hover {
	background: #424548;
}

.category-select.nice-select .option.focus, .category-select.nice-select .option.selected.focus {
	font-weight: bold;
	background: #424548;
}

.category-select-seperator {
	height: 1px;
	background: #B9B9C6;
	margin: 20px 0 0 0;
}


.category-search {
	float: right;
	margin-top: 20px;
}

.category-search-text,.category-search-text:hover {
	padding: 0 0 0 30px;
	background: transparent url(../images/category-search.svg) no-repeat 0;
	color: #1A1A1A;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 21px;
}
.category-search-text:focus,.category-search-text:active {
	padding: 0 0 0 30px;
	background: transparent url(../images/category-search-active.svg) no-repeat 0;
	color: #1A1A1A;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 21px;
}

.category-filter-wrapper {
	display: flex;
	justify-content: flex-end;
	margin: 25px 0 0 0;
}

.category-sortby, .category-type {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

span.filter-label {	
	margin-top:-3px;
	opacity:0.7;
	color: #292929;  
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.38px;
  line-height: 19px;
}
.category-filter-wrapper .niceselect{
	background:transparent;
	border:0px none;
}
.category-filter-wrapper .niceselect span{
	color: #1D1D1D;  
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.38px;  
}
.aboutus-intro h1{
	margin:0 0 20px 0;
	color: #1A1A1A;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -1.14px;
  line-height: 48px;
}
p.about-intro-tagline{
	margin:0 0 80px 0;
	padding:0 0 0 30px;
	font-family: 'Reforma1918';
	color: #1A1A1A;  
  font-size: 24px;
  font-style: italic;
  letter-spacing: -0.57px;
	line-height: 34px;
	border-left:3px solid #00807D;
}
.vision-mission-wrapper h3{
	margin:0 0 25px 0;
	color: #1A1A1A;  
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 39px;
}
.vision-mission-wrapper p{
	color: #1A1A1A; 
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}
.vision-mission-seperator{
	margin:80px 0;
	height:1px;
	background:#B9B9C6;	
}
.founders-wrapper img{
	width:151px;
	height:197px;
	object-fit: cover;
}
.founders-wrapper{
	display:flex;
	justify-content: flex-start;	
}
.founders-wrapper img{
	margin-right:25px;
}
p.founder-role{
	margin:0 0 8px 0;
	color: #00807D;  
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
	line-height: 19px;
	text-transform: uppercase;
}
.founder-info p{	
	margin:0 0 20px 0;
	color: #1A1A1A;  
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}
.founders-wrapper h3{
	position:relative;
	margin:0 0 10px 0;
	color: #1A1A1A;  
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 34px;
}
.founders-wrapper h3 a img{
	margin-left:10px;
	width:25px;
	height:25px;
}
.our-advisors-title{
	margin:80px 0 50px 0;
	color: #1A1A1A;  
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
	line-height: 39px;
	text-align:center;
}
.advisors-wrapper{
	display:flex;
	justify-content:flex-start;
	margin:0 0 80px 0;
}
.advisor-single{
	margin:0 28px 0 0;
}
.advisor-single:last-of-type{
	margin:0;
}
.advisor-single img{
	margin:0 0 20px 0;
	width:210px;
	height:246px;
	object-fit:cover;
}
.advisors-single h4{
	margin:0 0 8px 0;
  color: #1A1A1A;  
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
}

p.advisor-designation{
	color: #6C6C6C;  
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
}
.magazine-title{
	margin:0 0 10px 0;
}
.magazine-title-seperator{
	height: 1px;
	background: #B9B9C6;
}
.category-search.magazine-search{
	margin-top:25px;
}
.magazine-list-single{
	margin:0 0 60px 0;
}
.page-section{
	position:relative;
}
.magazine-detail-bg{	
	position:relative;	
	width:100%;
	height:100%;
	background: linear-gradient(90deg, #CBD5E9 50%, transparent 50%);
}
.magazine-detail-bg-mobile{
	display:none;
}
.magazine-detail-img{
	padding:135px 0 135px 30px
}
.magazine-detail-img img{
	border:8px solid #fff;
}
.magazine-detail-content{
	padding:135px 0 135px 100px
}
a.md-back{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	margin:0 0 15px 0;
	padding:0 0 0 20px;
	color: #1D1D1D;  
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -0.5px;
	line-height: 25px;
	background: transparent url(../images/md-back.svg) no-repeat left 4px;
}
a.md-back:hover,a.md-back:active,a.md-back:focus{
	color:#00807D;
	background: transparent url(../images/md-back-green.svg) no-repeat left 4px;
}
a.md-back img{
	margin-right:8px;	
}
.magazine-publish-date{
	margin:0 0 15px 0;
	color: #1A1A1A;  
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 51px;
}
.magazine-detail-description{
	margin:0 0 25px 0;
}
.magazine-detail-description p{
	margin:0 0 15px 0;
	color: #1D1D1D;  
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}
.btn-md-blue{
	border:2px solid  #0F56B2
}
.btn-md-blue:hover,.btn-md-blue:focus,.btn-md-blue:active{
	border:2px solid #073C81
}
.btn-md-blue-inv,.btn-md-blue-inv:hover,.btn-md-blue-inv:focus,.btn-md-blue-inv:active{
	border:2px solid  #0F56B2
}
.magazine-detail-actions a{
	margin-right:10px;
}
.news-events-title{
	margin:0 0 45px 0;
}
.category-select-seperator {
	height: 1px;
	background: #B9B9C6;
	margin: 20px 0 0 0;
}
.news-events-tabs{
	border-bottom:1px solid #B9B9C6
}
.news-events-tabs a{
	display:inline-block;
	padding:5px 10px;
	margin:0 20px 0 10px;
	color: #6C6C6C;  
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0;
	line-height: 25px;
	border-bottom:4px solid transparent;
}
.news-events-tabs a.active{
	color:#1A1A1A;
	border-radius: 100px 100px 0 0;
  border-bottom:4px solid #0F56B2;
}
#events-tab{
	display:none;
}
.events-tab-single .event-date {
	margin-right: 35px;  
  font-size: 68px;
  letter-spacing: -1.89px;
  line-height: 68px;
}
.events-tab-single .event-month{	
  font-size: 18px; 
  letter-spacing: -0.5px;
  line-height: 21px;
}
.events-tab-single .article-block-content h4{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 21px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}
.events-tab-single .event-info{
	margin:0;
	color: rgba(26,26,26,0.64); 
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
	line-height: 24px;	
}

.events-tab-single .event-content{
	margin:0 0 25px 0;
	padding:0 0 25px 0;
	border-bottom:1px solid #B9B9C6
}
.event-detail .article-block-content h4{
	color: #1D1D1D;  
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 48px;
}
.event-description-detail p{
	margin:0 0 25px 0;
	color: #1A1A1A;
  font-family: "Libre Franklin";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}
.event-detail-share{
	margin:0 0 40px 0;
}
.event-detail-share a:first-child{
	margin:0 25px 0 0;
}
.event-detail-share a{
	margin:0 8px 0 0;
}
.event-detail-share br{
	display:none;
}
.event-single.event-detail{
	border-bottom:0px none;
}
.billing-bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:230px;
	background:#CBD5E9
}
.billing-title h1{
	margin:0 0 35px 0;
	color: #1A1A1A; 
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -1.1px;
  line-height: 55px;
}
.billing-plan-wrapper{
	display:flex;
	justify-content: space-between;
	align-items:center;	
	margin:0 0 45px 0;
}
.billing-plan-single{
	position:relative;
	padding:35px 70px;
	background:#fff;
	border: 2px solid #DCDCE4;
	border-radius: 4px;
	text-align:center;
	transition:all 0.2s linear;
	cursor:pointer;
}
.billing-plan-single:hover,.billing-plan-single.active{
	border: 2px solid #00807D;
	box-shadow: 0 16px 25px -6px rgba(100,100,135,0.39);
}
.billing-plan-single.most-popular{
	/* border: 2px solid #00807D; */
  border-radius: 4px;
  background-color: #fff;
  /* box-shadow: 0 16px 25px -6px rgba(100,100,135,0.39); */
}
.most-popular-title{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	margin:0;
	padding:4px 0;
	color: #fff; 
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.33px;
	line-height: 17px;
	text-align:center;	 
  background-color: #00807D;
}
.billing-plan-single h3{
	margin:0;
	color: #1A1A1A;  
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.76px;
  line-height: 39px;
}
.billing-plan-single p.billing-duration{
	margin:5px 0 0 0;
	color: #1D1D1D;  
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.38px;
  line-height: 19px;
}
.billing-info-wrapper h3{
	margin:0 0 25px 0;
	color: #1A1A1A;  
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.76px;
  line-height: 39px;
}
.billing-form label{
	display:block;
	margin:0 0 8px 0;
	color: #1D1D1D;  
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.29px;
  line-height: 15px;
}
.billing-form input.form-control,.billing-form textarea.form-control{
	padding:20px 12px;
	color: #1D1D1D;  
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.33px;
  line-height: 17px;
	border: 1px solid #DCDCE4;
  border-radius: 2px;
  background-color: #FFFFFF;
}
.billing-form input.form-control:focus, .billing-form textarea.form-control:focus{
	border: 1px solid #00807D;
}
.billing-form .nice-select{
	height: 42px;
	line-height: 42px;
	border: 1px solid #DCDCE4;
	border-radius:0;
}
.billing-form .nice-select:focus{
	border: 1px solid #00807D;
}
.billing-form .nice-select,.billing-form .list{
	width:100%;
}
.billing-form .form-check-label{
	position:relative;
	top:3px;
}
.billing-form .form-check-label,.billing-form .form-check-label a{
	color: #1D1D1D; 
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.33px;
  line-height: 17px;
}
.billing-form .form-check-label a{
	text-decoration:underline
}
.billing-form .form-check{
	margin:0 0 30px 0;
}
.billing-form button{
	margin-right:10px;
}
.profile-tabs-wrapper a,.profile-tabs-wrapper a:hover,.profile-tabs-wrapper a:active,.profile-tabs-wrapper a:focus{
	display:block;
	padding:20px 0 20px 55px;
	color: #1A1A1A;  
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
	line-height: 14px;
	background-repeat: no-repeat;
  background-position: 25px 15px;
}
.profile-tabs-wrapper a.active,.profile-tabs-wrapper a.active:hover,.profile-tabs-wrapper a.active:focus,.profile-tabs-wrapper a.active:active{
	background-color:#0F56B2;
	color:#fff;
}
#my-profile{
	background-image:url('../images/profile-icon-dark.svg');
}
#my-profile.active{
	background-image:url('../images/profile-icon.svg');
}
#my-articles{
	background-image:url('../images/articles-icon-dark.svg');
}
#my-articles.active{
	background-image:url('../images/articles-icon.svg');
}
#my-bookmarks{
	background-image:url('../images/bookmark-icon-dark.svg');	
}
#my-bookmarks.active{
	background-image:url('../images/bookmark-icon.svg');	
}
#my-notifications{
	background-image:url('../images/notification-icon-dark.svg');	
}
#my-notifications.active{
	background-image:url('../images/notification-icon.svg');	
}
#my-settings{
	background-image:url('../images/settings-icon-dark.svg');	
}
#my-settings.active{
	background-image:url('../images/settings-icon.svg');	
}
#profile-logout{
	background-image:url('../images/logout-icon.svg');	
}
.profile-content-tab{
	padding:40px 0 30px 0;
}
.profile-section-title{
	margin:0 0 15px 0;
	color: #1A1A1A; 
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.67px;
  line-height: 34px;
}
.my-subscription-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:20px 40px 20px 20px;
	border-radius: 6px;
  background-color: #00807D;
}
.active-plan {  
	margin:0 0 5px 0;
  color: #E8F2FF;  
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.29px;
  line-height: 15px;
}
.active-plan-amt{
	color: #fff; 
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.76px;
  line-height: 39px;
}
.active-plan-amt span{
	font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.38px;
  line-height: 19px;
}
a.renew-btn,a.renew-btn:hover,a.renew-btn:active,a.renew-btn:focus{
	padding:9px 15px;
	background:#fff;
	color: #1A1A1A; 
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.43px;
	line-height: 12px;
	border-radius:3px;
}
.profile-content-border{
	padding-left:75px;
	border-left:1px solid #DEDEDE
}
.profile-content-tab{
	display:none
}
.profile-content-tab#my-profile-content{
	display:block;
}
.articles-tab-wrapper{
	display:flex;
	justify-content: space-between;
	align-items:flex-end;
	padding: 0 0 11px 0;
  border-bottom: 1px solid #B9B9C6;
}
.articles-tab-wrapper a.btn-celerity img{
	position:relative;
	top:-2px;
}
.article-tab-links a,.article-tab-links a:hover,.article-tab-links a:focus,.article-tab-links a:active{
	padding:10px 12px;
	opacity: 0.64;
  color: #1A1A1A;  
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.38px;
	line-height: 16px;
	border-bottom:4px solid transparent
}
.article-tab-links a.active{
	opacity:1;
	border-bottom:4px solid #0F56B2
}
.myarticle-single{
	padding:20px 0;
	border-bottom: 1px solid #B9B9C6;
}
.myarticle-single:last-child{
	border-bottom:0px none;
}
.myarticle-single a{
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
}
.mas-image{
	margin-right:30px;
}
.draft-checkbox,.bookmark-checkbox{
	margin:0 15px;	
}
.draft-checkbox input[type="checkbox"]{
	cursor: pointer;
}
.mas-image img{
	width:240px;
	height:160px;
	object-fit: cover;
}
.myarticle-single .article-block-content h4{
	margin:0 0 10px 0;
	font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
}
.mas-intro{
	margin:0 0 10px 0;
	opacity: 0.63;
  color: #292929;  
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
.articles-list-wrapper{
	display:none;
	position:relative;
} 
.articles-list-wrapper#articles-all-content{
	display:block;
}
.btn-cancel-post{
	position: absolute;
	right:0;
	top:-47px;
	background:transparent
}
.btn-new-post{
	position: absolute;
	right:0;
	top:-47px;
}
.btn-delete-post{
	position: absolute;
	right:85px;
	top:-47px;
}
.articles-list-wrapper .btn-celerity img{
	position:relative;
	top:-2px;
	left:-2px;
}
.articles-list-wrapper.bookmark-articles{
	display:block !important
}
.profile-section-title.pst-border{
	margin:0;
	padding:0 0 15px 0;
	border-bottom:1px solid #B9B9C6
}
.delete-bookmark,.cancel-bookmark{
	display:none;
}
.category-search.notifications-search{
	margin-top:5px;
}
.category-filter-wrapper.notifications-filter-wrapper{
	margin:10px 0 0 0;
}
.notifications-filter-wrapper .category-sortby{
	margin:0;
}
.notification-single{
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 15px 0 15px 0;
}
.notification-icon{
	margin:0 25px 0 0;
}
.notification-icon-mobile{
	display:none
}
.notification-content{
	width:100%;
	padding:0 0 25px 0;
	border-bottom:1px solid #D7D7D7
}
.notification-single:last-of-type .notification-content{
	border-bottom:0px none;
}
.notification-name-date{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:0 0 10px 0;	
}
.notification-name{
	margin:0;
	color: #1A1A1A;  
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25px;
}
.notification-date{
	margin:0;
	opacity: 0.64;
  color: #1A1A1A;  
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 15px;
}
.notification-post-name p{
	margin:0 0 5px 0;
	color: #1A1A1A;  
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
.notification-post-name span{
	font-weight: 600;
}
.notification-post-comment{
	
}
.notification-post-comment p{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin:0 0 5px 0;
	color: #1A1A1A;  
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
.notification-post-comment p.expand{
	-webkit-line-clamp: unset;
}
.notification-post-comment a.read-more,.notification-post-comment a.read-more:hover,.notification-post-comment a.read-more:active,.notification-post-comment a.read-more:focus,a.view-article,a.view-article:hover,a.view-article:focus,a.view-article:active{
	color: #1A1A1A;  
	font-size: 14px;
	font-weight:bold;
  letter-spacing: 0;
  line-height: 20px;
}
.notification-single .comment-single{
	margin:5px 0 0 0;
}
#new-article-back{
	position: relative;
	top:-3px;
	width:15px;
	height:15px;
	margin:0 5px 0 0;
}
.article-step{
	padding:0 0 0 25px;
}
.billing-form.article-form input.form-control, .billing-form.article-form textarea.form-control{
	padding:20px;
}
.billing-form.article-form .nice-select{
	height:42px;
	line-height: 42px;
}
#new-article-content,#article-step-1,#article-step-2{
	display:none;
}
#article-step-2 .profile-section-title{
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
	padding:0 0 10px 0;
	border-bottom:1px solid #B9B9C6;
}
.article-compose-title{
	display: flex;
	justify-content:space-between;
	align-items:flex-start;
	width:60%;
}
.article-compose-title a{
	margin-right:10px;
}
.compose-article-content{
	position:relative;
}
.article-add-icon{
	position: absolute;
	top: 8px;
	left: 5px;
}
.compose-article{
	padding:15px 15px 15px 50px;
	border: 0;
	background: transparent;
	width:100%;
	height:100vh
}
.login-wrapper{
	/* display:flex;
	justify-content: center; */
	margin:0 auto;
	max-width:430px;
	text-align:center
}
.login-wrapper h1{
	margin:0 0 40px 0;
}
.social-login a{
	display:inline-block;
	margin:0 0 10px 0;
	padding:15px 100px;
	width:100%;
	background:#fff;
	border:1px solid #DCDCE4;
	color: #1A1A1A;  
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.43px;
	line-height: 21px;
	text-align:left;
}
.social-login a img{
	margin:-2px 10px 0 0;
}
p.or {
	margin:0 0 30px 0;
	position:relative;
	color: #1A1A1A; 
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.33px;
  line-height: 17px;
} 
p.or:before { 
	content: "";
	position: absolute;
	top: 10px;
	left: 90px;
	width: 100px;
	height: 1px;
	background: #000;
} 
p.or:after { 
	content: "";
	position: absolute;
	top: 10px;
	right: 90px;
	width: 100px;
	height: 1px;
	background: #000;
} 
.login-form label,.login-form input[type="text"],.login-form input[type="email"],.login-form input[type="password"],.login-form input[type="checkbox"]{
	text-align:left;
}
.login-form .form-check{
	display: flex;
  justify-content: space-between;
}
.btn-full{
	width:100%;
}
.login-form .btn-full{
	border-radius:0;
}
.billing-form.login-form input.form-control{
	padding:20px 12px;
}
.billing-form .form-check{
	margin:0 0 20px 0;
}
.create-account-link-wrapper p{
	color: #1a1a1a; 
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.43px;
  line-height: 21px;
}
.create-account-link-wrapper p a{
	color: #0F56B2; 
	text-decoration:underline
}
#celerity-signup,#celerity-forgotpassword{
	display:none;
}
/* .header-clear{
	margin-top:140px;
} */
.md-mobile{
	display:none !important;
} 
.event-day.events-detail-day{
	margin-top:22px;
}
input.error,textarea.error{
	border:1px solid #E84C41 !important;
}
label.error{
	display:block;
	margin-top:10px;
	color: #E84C41;  
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.29px;
  line-height: 15px;
}
#dropdown-desktop,#dropdown-desktop:hover,#dropdown-desktop:focus,#dropdown-desktop:active{
	color: #1A1A1A; 
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
.dropdown-toggle-arrow{
	width:10px;
}
.login-flyout{
	display:none;
	min-width:220px;
	padding:20px 0;
	position:absolute;
	right:15px;
	top:60px;
	background:#1A1B1C;
	z-index: 10;
}
.login-flyout.show{
	display:block;
}
.login-flyout ul{
	list-style-type: none;
	padding:0;
	text-align:left;
}
.login-flyout ul li a,.login-flyout ul li a:hover,.login-flyout ul li a:focus,.login-flyout ul li a:active{
	display:block;
	padding:12px 35px 12px 35px;
	color: #fff; 
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
	line-height: 14px;
}
.profile-links-wrapper a,.profile-links-wrapper a:hover,.profile-links-wrapper a:active,.profile-links-wrapper a:focus{
	display:block;
	padding:0 15% 25px 15%;
	background-image:none !important;
	color: #fff;		
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.57px;
	line-height: 14px;
}
.profile-name{
	display:flex;
	align-items:flex-start;
	justify-content: flex-start;	
	padding:0 15% 15px 15%;
	margin:0 0 20px 0;
	border-bottom:1px solid #5A5A5A;
}
.profile-name img{
	width:30px;
	height:30px;
	object-fit:cover;
	margin:0 10px 0 0;
}
.profile-logout-seperator{
	display:block;
	border-top: 1px solid #5A5A5A;
	margin:0 0 25px 0;
}
.user-name{
	margin:0 0 5px 0;
	color: #fff;		
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.57px;
	line-height: 19px;
}
.user-email{
	margin:0;
	color: #A5A5A5;		
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.36px;
	line-height: 10px;
}
.profile-links-wrapper-menu a,.profile-links-wrapper-menu a:hover,.profile-links-wrapper-menu a:focus,.profile-links-wrapper-menu a:active{
	text-align:left;
	padding:12px 35px;
}
.profile-logout-seperator-menu{
	margin:15px 0;
}
.profile-tabs-menu.profile-tabs-menu-nav{
	display:block !important;
}
.profile-tabs-menu.login-tabs-menu{
	display:none;
}
.profile-links-wrapper a.btn-login-mobile{
	display:block;
	padding:15px 40px;
	margin:12px 25px;
	text-align:center;
	text-transform: capitalize;
}
.profile-tabs-menu.login-tabs-menu.login-links-menu{
	background:#fafaff;
	box-shadow: 0 -19px 24px 0 rgba(0,0,0,0.12);
}

.cookie-container{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:20px;
	background-color: #1A1B1C;
	box-shadow: 0 23px 19px 0 rgba(136,136,136,0.36);
}
}
.cookie-content{
	width:100%;
	float:left;
}
.cookie-text{
	float:left;
	width:75%;
	color:#fafafa;
}
.cookie-link{
	float:left;
	width:25%;
	text-align:right;
}
.cookie-link a:first-child{
	margin-right:10px;
}
.cookie-link a,.cookie-link a:hover..cookie-link a:focus,.cookie-link a:active{
	border:0px none !important;
}
.cookie-text a,.cookie-text a:hover,.cookie-text a:focus,.cookie-text a:active{
	color:#fff;
	font-weight:600;
	text-decoration:underline;
}
.cookie-text p{
	margin:0;
}
