@media (min-width:1280px) {}

@media (max-width:1279px) {

}

@media (min-width:1200px) and (max-width:1279px) {}

@media (min-width:992px) and (max-width:1199px) {
	#article-listing-block img{
	width: 290px;
    height: 170px;    
	}
	.home-magazine-single-img{
	width:210px;
	height:297px;	
	}
	.home-spotlight-single .article-block-content,.nlh-single .article-block-content{
		width:60%;
	}
	.categories-scroll-top a, .categories-scroll-top a:hover, .categories-scroll-top a:active, .categories-scroll-top a:focus{
		font-size:12px;
		margin-right:8px;
	}
	.login-links a{
		margin-right:3px;
	}
	.article-compose-title{
		width:55%;
	}
	.founders-wrapper h3{
		display:flex;
		align-items: flex-start;
	}
	.advisors-wrapper{
		flex-wrap: wrap;
		margin:0 0 40px 0;
	}
	.advisor-single{
		flex: 0 0 30%;
		margin:0 0 25px 0;
	}
	.nav-search {
		width: 250px;
	}
	.categories-scroll-top {
		width: auto;
		padding:30px 15px;
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		width: 100%;
		overflow: auto;
	}
	.categories-scroll-top a {
		flex-grow: 1;
		flex-shrink: 0;
	}
	.newsletter-email{
		width:180px;
	}
	.newsletter-form{
		align-items: flex-start;
	}

}

@media (max-width:991px) {
	.celerity-logo img{
		height:auto;
	}
	.account-mobile .user-profile-icon{
		top:0 !important;
	}
	.md-mobile{
		display:flex !important;		
	}
	.md-desktop{
		display:none !important;
	}
	.sub-menu-block{
		padding:15px 0 0 0;
	}
	a.sub-category-item{
		padding:15px 20px;
	}
	ul.sub-categories-list{
		height:80vh;
		overflow-y:scroll;
	}
	.advisor-single img{
		width:300px;
		height:351px;
	}
	p.advisor-designation{
		width:300px
	}
	.vision-mission-wrapper{
		padding:0 0 20px 0;
	}
	.magazine-detail-bg{
		background:transparent;
	}
	.magazine-detail-bg-mobile{
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:100%;		
		background:#CBD5E9;
	}
	.magazine-detail-img{
		margin: 0 auto;
    text-align: center;
	}
	.draft-checkbox, .bookmark-checkbox {
    margin: 0 8px 0 15px;
	}
	.celerity-header{
		background: #fafaff;
	}
	.category-link-wrapper .mCSB_scrollTools{
		right:10px;
	}
	.profile-tabs-wrapper.profile-tabs-wrapper-mobile.category-tabs-wrapper{
		border-bottom:0px none;
	}
	.category-select-list-wrapper{
		display:none;
	}
	.category-link-wrapper{
		height:190px;
		overflow-y:scroll;
	}
	
	
	.close-submenu-mobile{
		display:block;
		text-align:center;
		margin:5px 0 25px 0;
	}
	.profile-tabs-menu{
		display:none;
		position: fixed;
		width: 100%;
		left:0;
		bottom: 0;
		padding:0;
    z-index: 10;
		border-radius: 18px 18px 0 0;
  	background-color: #1A1B1C;
  	box-shadow: 0 -19px 24px 0 rgba(0,0,0,0.05);
	}
	.profile-section-title{
		color: #1A1A1A;		
		font-size: 21px;
		font-weight: 600;
		letter-spacing: -0.5px;
		line-height: 25px;
	}
	.profile-content-tab{
		padding:20px 0;
	}
	.profile-tabs-wrapper.profile-tabs-wrapper-mobile{
		margin: 0 15px;
    padding: 0;
    border-bottom: 1px solid #B9B9C6;
	}
	.profile-tabs-wrapper.profile-tabs-wrapper-mobile a,.profile-tabs-wrapper.profile-tabs-wrapper-mobile a.active{
		display:none;
		padding:0 0 10px 0;
		color: #1A1A1A;		
		font-size: 24px;
		font-weight: 600;
		letter-spacing: -0.57px;
		line-height: 29px;
		background-color:transparent;		
		background-image:none !important;		
		/* border-bottom: 1px solid #B9B9C6; */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.profile-tabs-wrapper.profile-tabs-wrapper-mobile a.active{
		display:block;
	}
	.profile-tabs-wrapper.profile-tabs-wrapper-mobile a img{
		margin-left:10px;
	}
	.profile-content-border{
		padding-left:15px;
		border-left:0px none;
	}
	.magazine-list-single{
		margin:0 0 40px 0;
	}
	.magazine-title{
		margin:0;
	}
	.page-title-large{
		font-size:32px;		
	}
	.founders-wrapper{
		flex-wrap: wrap;	
	}
	.founders-wrapper img{
		margin:0 0 25px 0;
		width:300px;
		height:351px;
		object-fit: cover;
	}
	.founders-wrapper:last-of-type img.img-fluid{
		margin:12px 0 25px 0;
	}
	.our-advisors-title{
		text-align:left;
	}
	.advisors-wrapper{
		flex-wrap: wrap;
		margin:0 0 40px 0;
	}
	.our-advisors-title{
		margin:28px 0 40px 0;
	}
	p.founder-role{		
		font-size:14px;
		margin:0;
	}
	.founders-wrapper h3{
		display:flex;
		font-size:21px;		
	}
	.vision-mission-seperator{
		margin:15px 0 40px 0;
	}
	.aboutus-intro h1{
		font-size:36px;
		line-height:36px;
	}
	p.about-intro-tagline{
		margin:0 0 40px 0;
		font-size: 21px;
		line-height: 28px;
	}
	.vision-mission-wrapper h3{
		margin: 0 0 15px 0;
		font-size:28px;
		line-height:32px;
	}
	.article-detail-content h2{
		font-size: 24px;  
		line-height: 32px;
		margin:0 0 20px 0;
	}
	.article-detail-content p,.article-detail-content ul li{	
		font-size:16px;
		line-height: 26px;
	}
	.article-detail-testimonial{
		margin:40px 0 0 0;
	}
	.article-detail-testimonial, .article-detail-testimonial p{
		font-size:21px;
		line-height:30px;
	}
	.article-detail-content h3{
		margin:0 0 20px 0;
		font-size:21px;
		line-height: 28px;
	}
	.article-detail-introduction, .article-detail-introduction p,.article-detail-content p b i{
		font-size:18px;
		line-height: 26px;
	}
	p.article-detail-testiomonial-name{
		font-size:16px;
		letter-spacing: 0;
		line-height: 19px;
	}
	.events-list-home .event-content .article-block-content h4 {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 20px;
	}
	.section-title-medium {
		font-size: 24px;
		line-height: 24px;
	}
	.home-spotlight-single .hss-image {
		width: 75px;
	}
	.article-block-content h4 {
		font-size: 14px;
		line-height: 16px;
	}
	.home-spotlight-single-img {
		width: 74px;
		height: 65px;
	}
	.article-title-large {
		font-size: 16px;
		line-height: 20px;
	}
	.article-preview-text {
		display: none;
	}
	.main-article-home-banner {
		width: 100%;
		height: auto
	}
	/* .categories-scroll-top {
		width: auto;
		padding: 30px 15px;
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		width: 100%;
		overflow: auto;
	} */
	.categories-scroll-top div{
		width: auto;
		padding: 30px 15px;
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		width: 100%;
		overflow: auto;
	}
	a.show-all-categories{
		display:none
	}
	.categories-scroll-top a {
		flex-grow: 1;
		flex-shrink: 0;
	}
	.back-mobile {
		display: inline-block;
		width: 15px;
		position: relative;
		top: -2px;
		left: -2px;
	}
	.celerity-header {
		z-index: 1;
	}
	#slider {
		top:0;
		z-index: 999;
	}
	.main-menu-block{
		padding:10px 0;
	}
	.menu-header-mobile{
		display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #535353;
	}
	.menu-header-mobile a{
		padding:0 15px;
	}
	.mobile-header-logo img{
		width:105px;
	}
	ul.main-categories-list{
		padding-top:30px;
	}
	.main-menu-block {
		width: 100vw;
		height: 100vh;
	}
	.flyout-list {
		display: none;
		left: 100%;
		z-index: 20;
		transform: translateX(100%);
	}	
	.slide-inmob {
		display: block;
	/* 	left: 0 !important;
		transform: translateX(0) !important; */
		animation: slide-inmob 0.3s forwards;
		-webkit-animation: slide-inmob 0.3s forwards;
	}
	@keyframes slide-inmob {
		0% {
			transform: translateX(100%);	
			left:100%		
		}
		100% {
			transform: translateX(0%);	
			left:0;	
		}
	}
	@-webkit-keyframes slide-inmob {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(0%);
		}
	}	
	.slide-outmob {
		animation: slide-outoutmob 0.3s forwards;
		-webkit-animation: slide-outoutmob 0.3s forwards;
	}
	@keyframes slide-outoutmob {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(100%);
		}
	}
	@-webkit-keyframes slide-outoutmob {
		0% {
			-webkit-transform: translateX(0%);
		}
		100% {
			-webkit-transform: translateX(100%);
		}
	}
	.hidemenu-mobile{
		display:none;
		animation: hidemenu-mobile 0.3s forwards;
		-webkit-animation: hidemenu-mobile 0.3s forwards;
	}
	@keyframes slide-outoutmob {
		0% {
			display:block
		}
		100% {
			display:none;
		}
	}
	@-webkit-keyframes slide-outoutmob {
		0% {
			display:block
		}
		100% {
			display:nonel
		}
	}

	.sub-menu-block {
		width: 100vw;
		height:100vh
	}
	.nopadding-mobile {
		padding-left: 0;
		padding-right: 0;
	}
	#menu-toggle-link {
		margin-right: 10px;
	}
	#menu-toggle-link span, .search-wrapper, .login-links {
		display: none;
	}
	.search-wrapper.show{
		display:block;
		position: absolute;
		top: 68px;
		left: 0;
		right:0;
		z-index:1;
	}
	.search-wrapper.show .nav-search{
		width:100%;
		border-radius:0;		
	}
	.celerity-logo img {
		width: 105px;
	}
	.celerity-logo {
		display: flex;
		justify-content: center;
	}
	.account-mobile, #search-link-mobile {
		display: block;
	}
	.celerity-header>* {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
	}
	.account-mobile {
		display: flex;
		justify-content: flex-end;
	}
}
@media (min-width:1281px){
	#dropdown-desktop span{
    display: inline-block;
	padding-left:5px;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 5px;
	text-transform:capitalize;
	text-align:left;
	}
	.categories-scroll-top{
		position: relative;
    display: flex;
    justify-content: space-between;
    width: 1170px;
    padding: 25px 0px;
    margin: 0 auto;
	}	
	.categories-scroll-top div{
		width: 90%;  
		height: 30px;  
		overflow: hidden;
	}
} 
@media (min-width:1280px) and (max-width:1280px){
	.categories-scroll-top{
		position: relative;
    display: flex;
    justify-content: space-between;
    width: 1110px;
    padding: 25px 0px;
    margin: 0 auto;
	}	
	.categories-scroll-top div{
		width: 90%;  
		height: 30px;  
		overflow: hidden;
	}
}
@media (min-width:992px) and (max-width:1280px){
	#dropdown-desktop span{
		display:none;
	}
}
@media (min-width:992px) and (max-width:1279px) {
	.categories-scroll-top{
		position: relative;
    display: flex;
    justify-content: space-between;
    width: 930px;
    padding: 25px 0px;
    margin: 0 auto;
	}	
	.categories-scroll-top div{
		width: 90%;  
		height: 30px;  
		overflow: hidden;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
	}
} 
@media (min-width:768px) and (max-width:991px) {
	#article-listing-block img{
	width: 210px;
    height: 122px;    
	}
	.home-magazine-single-img{
	width:150px;
	height:212px;	
	}
	.hps-single img.hps-single-img{
		width:100%;
		height:185px;		
	}
	.events-banner-img{
		display:none;
	}
	.events-title{
		margin-top:60px;
	}
	.events-list-home{
		margin-top:0;
	}
	.events-list-home .event-content .article-block-content h4{
		font-size: 21px;		
		letter-spacing: 0;
		line-height: 28px;
	}
	.nlh-single .article-block-content{
		width:66%;
	}
	.home-perspective {
    display: none;
	}
	.hps-single img{
		width:100%;
		height:auto
	}	
	.article-block-content h4{
		display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	}
	.home-spotlight-single{
		width:50%;
	}
	.home-spotlight-single:first-child,.home-spotlight-single{
		margin:15px 0 0 0;
	}
	.main-article-home{
		margin-bottom:40px;
	}
	.article-title-large{
		font-size: 26px;
		letter-spacing: 0;
  line-height: 32px;
	}
	.md-mobile{	
		position:absolute;
		top:35px;
	}
	.magazine-detail-bg-mobile{
		height:58%;
	}
	.category-search{
		float:left;
	}
	.mttab-0{
		margin-top:0 !important
	}
	.article-compose-title{
		width:55%;
	}
	.billing-plan-single{
		padding: 35px 60px;
	}
	.magazine-detail-content{
		padding:60px 0 60px 0;
	}
	.magazine-detail-img{
		padding:40px 0 0 0;
	}
	.advisor-single{
		flex: 0 0 45%;
	}
	.advisor-single:nth-child(odd){
		margin:0 65px 0 0;
	}
	.advisor-single:nth-child(even){
		margin:0;
	}
	.category-select.niceselect span.current{
		font-size:25px;
	}
	.quicknav-header{
		padding:20px;
	}
	.quicknav-article-title{
		max-width:600px;
	}
	.home-spotlight-single .article-block-content {
		width: 65%;
	}
	.newsletter{
		padding:0 0 0 10px;
	}
	.newsletter-email{
		width:150px;
	}
	.contact-detail.phone a span{
		font-size:13px;
	}
	.contact-detail a span{
		font-size:14px;
	}
	.newsletter-form{
		align-items: flex-start;
	}
	.newsletter-form p{
		margin: 0 20px 0 0;
	}
	
}

@media (max-width:767px) {	
.article-tab-links a{
	padding:10px;
}
	.article-subscribe{
		flex-wrap:wrap;
	}
	.events-list-home .event-single{
		margin:0 0 25px 0;
	}
	.news-list-home .nlh-single .article-block-content h4{
		font-size:16px;
		line-height:20px;
	}
	.news-list-home .nlh-single .nlh-img{
		width:94px;
		height:55px;
	}
	.news-list-home .nlh-single .article-block-content{
		width:65%;
		padding:0 10px 0 0;
	}
	.home-magazine-single-img{
		width:150px;
		height:212px;
		object-fit:cover;
	}
	.hps-single img.hps-single-img{
		width:100%;
		height:100%;
	}
	.pl-18{
		padding-left:0;
	}
	.category-search-list{
		padding:0;
	}
	.privacy-content h1{
		margin:0 0 10px 0;
	}
	.privacy-policy-content p{
		margin:0 0 15px 0;
		font-size: 16px;
		letter-spacing: 0;
		line-height: 24px;
	}
	.cookie-text,.cookie-link{
		width:100%;
		text-align:left;
	}	
	.cookie-text{
		padding:0 0 20px 0;
	}	
	.hps-single img{
		width:100% !important;
	}
	.md-mobile{	
		position:absolute;
		top:25px;
	}
	.our-advisors-title{
		text-align:center;
	}
	.magazine-publish-date{
		font-size:32px;
		line-height:32px;
	}
	.magazine-detail-bg-mobile{
		height:495px;
	}
	.magazine-detail-actions a{
		margin-right:6px;
	}
	.events-detail-day .event-date{
		margin-right:20px;
		font-size:42px;
		line-height:42px;
	}
	.events-detail-day .event-month{
		padding-left:0;
		font-size: 16px;
		line-height: 18px;
	}
	.mas-intro{
		display:none;
	}
	span.prognroll-bar{
		top:59px !important;
	}
	.create-account-link-wrapper{
		margin:40px 0 0 0;
		padding:20px 0 0 0;
		border-top:1px solid #B9B9C6;
	}
	.create-account-link-wrapper span{
		display:block;
		margin:0 0 5px 0;
	}
	p.or:before{
		left: 50px;
    width: 70px;
	}
	p.or:after{
		right: 50px;
    width: 70px;
	}
	.social-login a{
		padding:15px 40px;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: -0.38px;
		line-height: 19px;
		text-align:center;
	}
	#article-step-2 .profile-section-title{
		flex-wrap: wrap;
	}
	.article-compose-title{
		width:100%;
		margin:0 0 15px 0;
	}
	.notification-name{
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 21px;
	}
	.category-search.notifications-search{
		padding:0 0 10px 0;
	}
	.notification-icon{
		display:none;
	}
	.notification-icon-mobile{
		display:block;
		float:left;
		margin-right:15px;
	}
	.notification-name-date{
		flex-wrap:wrap;
	}
	.notification-name-date p{
		width:100%;
	}
	.btn-delete-post.delete-bookmark{
		right: 65px;
    top: -50px;
	}
	.btn-cancel-post.cancel-bookmark{
		top: -50px;
    right: -5px;
	}
	#articles-draft-content .myarticle-single .article-block-content{
		width:50%;
	}
	.myarticle-single .article-block-content{
		width:66%;
	}
	.myarticle-single .article-author-info span{
		display:block;
		margin:0 0 5px 0;
	}
	.btn-new-post, .btn-cancel-post{
		font-size:12px;
		padding:10px;
		top:-85px;
	}
	.btn-delete-post{
		font-size:12px;
		padding:10px;
		right:70px;
		top:-85px;
	}
	.myarticle-single .article-block-content h4{
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 16px;
	}
	.myarticle-single a{
		justify-content: flex-start;
	}
	.mas-image{
		margin-right:16px;
	}
	.mas-image img{
		width:75px;
		height:50px;
	}	
	.billing-bg{
		height:15%;
	}
	.most-popular-title{
		font-size: 10px;
		font-weight: 600;
		letter-spacing: -0.24px;
		line-height: 12px;
	}
	.billing-title h1{
		margin:0 0 20px 0;
		font-size: 24px;
		font-weight: 600;
		letter-spacing: -0.57px;
		line-height: 29px;
	}
	.billing-plan-single h3{
		font-size: 21px;
		font-weight: 600;
		letter-spacing: -0.5px;
		line-height: 21px;
	}
	.billing-plan-single p.billing-duration{
		font-size: 12px;
		font-weight: 500;
		letter-spacing: -0.29px;
		line-height: 12px;
	}
	.billing-plan-single{
		padding:35px 20px;
	}
	.event-description-detail p{
		font-size:16px;
		line-height:24px;
	}
	.event-detail-share a{
		margin:0 5px 0 0
	}
	.event-detail-share br{
		display:block;
	}
	.event-detail .article-block-content h4{
		font-size:28px;
		line-height:32px;
	}
	#events-tab .btn-blue{
		margin-top:25px
	}
	.news-events-tabs{
		margin: 20px 0 0 0;	
	}
	.news-events-title{
		margin:0;
	}	
	.events-tab-single .event-content{
		padding:0;
		border-bottom:0px none;		
	}
	.events-tab-single.event-single{
		margin:25px 0 0 0;
	}
	
	.magazine-detail-content{
		padding:70px 0 20px 0;
	}
	.magazine-detail-img{
		padding:75px 0 0 0;
	}
	.advisor-single{
		margin:0 0 25px 0;
	}
	.vision-mission-wrapper p{
		margin:0 0 25px 0;
	}	
	
	.advisors-wrapper{
		flex-wrap:wrap;
		justify-content: center;
	}	
	.category-type{
		display:none;
	}
	.category-filter-wrapper{
		margin:15px 0 0 0;
	}
	.category-select.niceselect{
		width:100%;
	}
	.category-select-seperator{
		margin: 10px 0 0 0;
	}
	.category-filter-wrapper{
		justify-content:flex-start;
		flex-wrap:wrap;
	}
	.category-select.niceselect span.current{
		font-size:21px;	
	}
	.category-search,.category-search-text{
		width:100%
	}
	.article-detail-testimonial{
		margin:0;
	}
	.article-tags a{
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 12px;
	}
	.section-title-large{
		font-size:24px;
		letter-spacing: 0;
		line-height: 28px;
	}
	.article-inline-img{
		margin-bottom:20px;
	}
	.image-section img{
		width:auto;
		height:auto;
	}
	.article-detail-testimonial{
		padding:0;
	}
	.article-detail-img-block{
		flex-wrap:wrap;
	}
	.comments-input textarea,.comment-single-content{
		margin:15px 0 0 0;
		width:100%;
	}
	.newsletter-form{
		flex-wrap:wrap;
		align-items: flex-start;
	}
	.newsletter-form p{
		margin:0 0 20px 0;
	}
	.article-detail-banner-full{
		margin:40px 0;
	}
	.article-detail-banner{
		width:auto;
		height:auto;
		margin:30px 0 0 0;
	}
	.article-detail-title{
		padding: 0 0 15px 0;
	}
	.article-detail-title h1{
		font-size: 28px;		
		letter-spacing: -0.67px;
		line-height: 32px;
	}
	.quicknav-header{
		padding:15px;
	}
	.quicknav-header::after{
		width:0;
		height:0;
	}
	.quicknav-article-title span{
		display:none;
	}
	.copyright-text a, .copyright-text a.privacy{
		left:auto;
	}
	.copyright-text span:after, .disclaimer:after{
		content:'';
		display:none;
	}
	.social-footer{
		padding:15px 0 0 0;
		text-align: center;	
		margin:0 auto;
	}
	.copyright-wrapper{
		flex-wrap:wrap;
	}
	.copyright-text{
		text-align:center;
	}
	.footer-links{
		display:block;		
	}
	.footer-links a{
		display:inline-block;
		width:48%;
	}
	.newsletter{
    padding: 25px 0 0 0 ;
		border-top: 1px solid #4C4949;
		border-left:0px none;
	}
	.footer-section{
		margin: 0 0 40px 0;
	}
	.footer-section.get-in-touch{
		margin:20px 0;
	}
	.hps-single{
		margin:0 0 25px 0;
	}
	.hps-content h4{
		margin: 0 0 15px 0;
	}
	.events-banner-img{
		margin-top:40px;
	}
	.event-content{
		border-bottom:0px none;
	}
	.event-single {
		border-bottom: 1px solid #B9B9C6;
	}
	.viewmore-desktop, .hidden-mobile {
		display: none !important;
	}
	.home-news-desktop{
		margin:0;
	}
	.viewmore-mobile, .home-news-mobile {
		display: block;
	}
	.home-magazine-single img {
		margin: 0 0 10px 0;
	}
	.home-magazine-single h4 {
		margin: 0 0 25px 0;
		font-size: 12px;
		line-height: 14px;
	}
	.mtmob-0{
		margin-top:0px !important
	}
	.mbmob-0{
		margin-bottom:0px !important
	}
	.mtmob-10{
		margin-top:10px !important
	}
	.mbmob-10{
		margin-bottom:10px !important
	}


	.mtmob-20{
		margin-top:20px !important
	}
	.mbmob-20{
		margin-bottom:20px !important
	}
	.mtmob-30{
		margin-top:30px !important
	}
	.mbmob-30{
		margin-bottom:30px !important
	}
	.mtmob-40 {
		margin-top: 40px !important
	}
	.mbmob-40 {
		margin-bottom: 40px !important
	}
	.home-magazine-section .viewmore-desktop {
		display: none;
	}
	.home-perspective {
		display: none;
	}
	.home-spotlight-single .article-block-content {
		width: 68%;
	}
	.home-spotlight {
		margin-top: 60px;
	}
	.home-spotlight-single {
		border-bottom: 1px solid #D8D8D8;
	}
	.home-spotlight-single .article-block-content {
		border-bottom: 0px none;
	}
}

@media (min-width:577px) and (max-width:767px) {}

@media (max-width:576px) {}

@media (max-width:400px) {
	.billing-plan-single{
		padding:35px 10px;
	}
	.payment-status-wrapper div .page-title-large{
		font-size:30px;
	}
}
