/*     Nav Search     */

.nav-search {
  .input-group {
    border: 1px solid #eee;
    background: #eee;
    border-radius: 5px;
    &:hover, &:focus {
      border: 1px solid #ddd;
    }
  }
  &.nav-search-round {
    .input-group {
      border-radius: 50px;
    }
  }
  .form-control {
    border: 0;
    /* background: $transparent-bg !important; */
    background: #104E7F !important;
    border:0px none !important;
    font-size: 14px;
    padding: 0.75em 1em;
    min-width: 200px;
    max-width: 100%;
  }
  .input-group-text {
    border: 0;
    background: $transparent-bg;
  }
  .search-icon {
    font-size: 18px;
    color: #fff;
  }
  .btn-search {
    /* background: $transparent-bg; */
    background: #104E7F !important;
    padding: .375rem 1rem;
  }
}

/*    Quick Search    */

.quick-search {
  display: flex;
  align-items: center;
  width: 225px;
  .input-group {
    background: #eee;
    border-radius: 5px;
  }
  .btn-search {
    background: transparent;
    padding: .5rem 1rem; 
  }
  .search-icon {
    font-size: 16px;
  }
  input.form-control {
    background: transparent;
    border: 0;
    padding: .5rem 0; 
  }
}